# Source files
src/
example/
test/

# Config files
tsconfig.json
.release-it.json
.gitignore
.npmignore
biome.json

# IDE files
.vscode/
.idea/
*.sublime-*

# Test files
*.test.ts
*.spec.ts
coverage/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# TypeScript cache
*.tsbuildinfo

# Package manager files
package-lock.json
yarn.lock 